{% extends "authApp/base.html" %}
{%load crispy_forms_tags %} 

{% block content %}


<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-2">Welcome to Sneat! 👋</h4>
                    <p class="mb-4">Please sign-in to your account.</p>

                    <form id="formAuthentication" class="mb-3" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="text" name="username" class="form-control" aria-describedby="emailHelp" placeholder="Enter User Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>

                        <input type="hidden" name="next" value="{{request.GET.next}}">

                        <br>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>

                        
                    </form>

                    {% if error %}<p class="error-message">{{ error }}</p>{% endif %}


                    <p class="text-center">
                        <span>Don't have an account?</span>
                        <a href="{% url 'register' %}">
                            <span>Create an account</span>
                        </a>
                    </p>
                </div>
            </div>
        <!-- /Register -->
        </div>
    </div>
</div>


{% endblock content %}